.vs/*
Services/obj/*
Services/bin/*
Route66/appsettings.json
Route66/appsettings.Development.json
Route66/bin/*
Route66/obj/*
Tests/obj/*
Tests/bin/*
Util/bin/*
Util/obj/*
Data/*
.idea/*
Route66Blazor/obj/*
Route66Blazor/bin/*
Services/GlobalSuppressions.cs
Api/bin/*
Api/obj/*
