.vs/*
Services/obj/*
Services/bin/*
Route66/appsettings.json
Route66/appsettings.Development.json
Route66/bin/*
Route66/obj/*
Tests/obj/*
Tests/bin/*
Util/bin/*
Util/obj/*
Data/*
.idea/*
Route66Blazor/obj/*
Route66Blazor/bin/*
Services/GlobalSuppressions.cs
Api/bin/*
Api/obj/*
Route66Angular/server.crt
Route66Angular/server.key
route66-react/.idea/*
route66-react/node_modules/*
route66-vue/.idea/*
route66-vue/.vscode/*
route66-vue/node_modules/*
docker-tk5-debian/mvs-tk5.zip
