@using Route66Blazor.Models
@using Services.Models
@implements IFieldComponent

<span class="field" style="left: @(FieldData.Col)ch">@FieldData.Value</span>

@code {
    [Parameter]
    public FieldData FieldData { get; set; } = new() { Row = 0, Col = 0, Value = "", IsProtected = true };
}
