@using Route66Blazor.Models
@implements IFieldComponent

<span class="field" style="left: @(FieldData.Col)ch">@FieldData.Value</span>

@code {
    [Parameter]
    public FieldData FieldData { get; set; } = new FieldData { Row = 0, Col = 0, Value = "", IsProtected = false };
}
