@import './base.css';

.row {
    height: 1.1em;
    font-family: Consolas, monospace;
    font-size: 16px;
    white-space: pre;
}

input {
    position: absolute;
    font-family: Consolas, monospace;
    font-size: 16px;
    border: 0;
    background: #f0f0f0;
}

input:focus {
    border: 0;
    outline: 0;
}

.error {
    color: red;
    height: 1.1em;
    font-family: Consolas, monospace;
    font-size: 16px;
    white-space: pre;
}
