<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css?version=0.1" />
    <link rel="stylesheet" href="Route66Blazor.styles.css?version=0.1" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="Components/Pages/TerminalDisplay.razor.js?version=0.1"></script>
</body>

</html>
