.border-zero {
  outline: none;
  border: none;
}

#container {
  width: 80ch;
  font-family: Consolas, monospace;
  font-size: 16px;
  overflow: hidden;
}

.wait {
  width: 25%;
  height: 2px;
  margin-top: 10px;
  position: relative;
  background: linear-gradient(to right, white 0%, #8080ff 75%, blue 100%);
  animation: move-line 2s linear infinite;
}

.error {
  color: red;
}

@keyframes move-line {
  0% {
    left: -25%;
    transform: scaleX(1);
  }
  49.99% {
    transform: scale(1);
  }
  50% {
    left: 100%;
    transform: scaleX(-1);
  }
  99.99% {
    transform: scaleX(-1);
  }
  100% {
    left: -25%;
    transform: scaleX(1);
  }
}
