@page "/"

<h1>Route 66 Connect</h1>
<form method="GET" action="/terminal">
    <div class="field"><span>Address:</span><input type="text" name="address" value="127.0.0.1"/></div>
    <div class="field"><span>Port:</span><input type="text" name="port" value="3270"/></div>
    <button type="submit">Submit</button>
</form>
