@using Route66Blazor.Components.Fields
@using Services.Models

@code {
    private void Callback(FieldData fieldData, int index)
    {
    }
}

<div class="row">
@for(var i = 0; i<_fieldData.Count(); i++)
{
    var index = i;
    if (_fieldData[index].IsProtected)
    {
        <LabelField FieldData="_fieldData[index]"/>
    }
    else
    {
        @* <InputField bind-FieldData="_fieldData[index]"></InputField> *@
        <InputField FieldData="_fieldData[index]" FieldDataChanged="(fieldData) => Callback(fieldData, index)" />
    }
}
</div>
