@using Route66Blazor.Components.Fields

<div class="row">
@for(var i = 0; i<_fieldData.Count(); i++)
{
    var data = _fieldData[i];
    if (data.IsProtected)
    {
        <LabelField FieldData="data"/> 
    }
    else
    {
        <InputField @bind-FieldData="data" />
    }
}
</div>
