@using Route66Blazor.Components.Fields

<div class="row">
@for(var i = 0; i<_fieldData.Count(); i++)
{
    var index = i;
    if (_fieldData[index].IsProtected)
    {
        <LabelField FieldData="_fieldData[index]"/> 
    }
    else
    {
        <InputField @bind-FieldData="_fieldData[index]" />
    }
}
</div>
