.border-zero {
    outline: none;
    border: none;
}

::deep .row {
    height: 1.1em;
    font-family: Consolas, monospace;
    font-size: 16px;
    white-space: pre;
}

::deep .field {
    position: absolute;
}

::deep input {
    font-family: Consolas, monospace;
    font-size: 16px
}